<h2>your alerts</h2>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alert_schedules.each do |alert_schedule| %>
      <tr>
        <td><%= link_to(alert_schedule.name, alert_schedule) %></td>
        <td><%= alert_schedule.address %></td>
        <td><%= link_to 'Forecast', forecast_alert_schedule_path(alert_schedule) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alert schedule', new_alert_schedule_path %>
