---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=St.%20Petersburg,%20FL&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "St. Petersburg",
                       "short_name" : "St Petersburg",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pinellas County",
                       "short_name" : "Pinellas County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "St. Petersburg, FL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 27.9133357,
                          "lng" : -82.58590869999999
                       },
                       "southwest" : {
                          "lat" : 27.644609,
                          "lng" : -82.7670129
                       }
                    },
                    "location" : {
                       "lat" : 27.773056,
                       "lng" : -82.64
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 27.9133357,
                          "lng" : -82.58590869999999
                       },
                       "southwest" : {
                          "lat" : 27.644609,
                          "lng" : -82.7670129
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 09 Oct 2014 01:26:25 GMT
recorded_with: VCR 2.9.2
